.cardModalImage {
    height: 50vh;
    background-size: cover;
    margin:0 !important;
}

.modal-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.modal-body {
    padding: 0 !important;
}
